{% extends "soundboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Admin</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-warning btn-block" type="submit">Assemble</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Already Admin? <a class="ml-2" href="{% url 'login' %}">Login</a></small>
    </div>
</div>
{% endblock content %}